html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
}
html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.parrafo{
    padding: 10px;
    border-top-right-radius: 20px;
    font-family: arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    left: 23%;
    top: 5%;
}
p span {
    color: yellow;
}
p{
    color: #fff;
    font-size: 18px;
}
.nombreVehiculos-pyp2 {
    font-size: 3vw;
    color: #fff;
}
h1 {
    font-size: 4vw;
    color: #fff;
}
h2 {
    font-size: 1.2vw;
    color: #fff;
    letter-spacing: 3px;
    margin: .3em 1vw;
    text-align: center;
}
/*este se usa para el nombre delvehiculo, lo cambie a 2 y estaba en 1.5*/
h3 {
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
}
h4 {
    font-size: 10vh;
    color: #fff;
}
h5 {
    color: #fff;
    font-size: 2vw;
}
h6 {
    font-size: 5vw;
    color: #fff;
    margin: 0px;
}
h7 {
    font-size: 2.5vw;
    color: #fff;
    text-transform: uppercase;
}
h8 {
    font-size: 4.5vw;
    color: #fff;
}
img {
    max-width: 100%;
}
.clear{
    clear:both;
}
/*--end reset--*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;    
    text-align: center;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition :0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
.cabezote {
    height: 10%;
}
.containerpyp1 {
    vertical-align: middle;
    padding: 3% 5%;
    height: 69%;
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: table;
    border-collapse:separate;
    border-spacing:20px;
}
.containerpyp2 {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.fondopyp1 {
    height: 100%;
    background: url(../images/fondo.jpg)no-repeat center top;   
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.fondopyp2 {
    height: 100%;
    background: url(../images/fondoNoche.jpg)no-repeat center top;   
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.fondoNegro-pyp1 {
    background-color: rgba(0, 0, 0, 0.63);
    height: auto;
    width: 70%;    
    padding: 2% 0%;
    border-radius: 15px;
    display: table-cell;
    vertical-align: middle;
}
.fondoNegro-pyp2 {
    background-color: rgba(0, 0, 0, 0.63);
    height: auto;
    width: 70%;
    float: center;
    margin: 1%;
    border-radius: 15px;
}
.iconos {
    width: 30%;
    height: auto;
}
.footer-pyp {
    height: 5%;
    text-align: center;
    width: 100%;
}
.footer-pyp p {
    font-size: 1.2vw;
}
