/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
padding:0;
margin:0;
    background: url(../images/2.jpg)no-repeat;   
    background-size: cover;
   font-family: 'Gudea', sans-serif;
   height: 100%;
   width: 100%;
}

html{
    height: 100%;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:10;
	padding:10;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.wrap {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
/*--widget start here--*/
.widget-main {
     background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
     url(../images/s2.jpg)no-repeat;
    height: 100%;
    background-size: cover;
    width: 80%;
    margin: 0em auto 0em;
    box-shadow: 0 0 10px #3C3B3B;
}
.widget-left {
    float: left;
    width: 30%;
    background: rgba(255, 236, 240, 0.4);
    padding: 0em 2em;
    height: 100%;
}

.widget-left ul li{
    font-size: 1.5vw;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 5%;
}

.forecast-icon img{
    width: 90%;
}

.date {
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 2em;
}
.date h6 {
    font-size: 0.9em;
    color: #000;
}
.widget-right {
    float: left;
    width: 50%;
    padding:2em 1em 1em 1em;
    position: relative;
    height: 100%;
}
.widget-right p {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
}
.widget-right h2 {
    font-size: 4em;
    color: #fff;
    position: absolute;
    bottom: -200px;
    right: 22px;
}
.widget h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-top: 0.8em;
}
.season {
    padding-bottom: 0.5em;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}
.degree h4 {
    font-size: 1em;
    color: #000;
    margin-bottom: 0.2em;
}
.degree h3 {
    font-size: 1.8em;
    color: #000;
}
.degree {
    float: left;
    width: 50%;
}

.widget-right h3 {
    font-size: 1.7em;
    color: #fff;
}

.widget-right h5 {
    font-size: 1.7em;
    color: #fff;
    margin: 0.8em 0em;
}
/*--copy rights start here--*/
.copy-rights {
    height: 10%;
    width: 100%;
    text-align: center;
}
.copy-rights p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    line-height: 1.7em;
}
.copy-rights p a{
  color:#FFC562; 
}
.copy-rights p a:hover{
  color: #fff; 
}
.clear{
	clear:both;
}
.footer {
    height: 10px;
}

.footer p {
    
    color: #fff;
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 1.8;
    margin: 0 3vw;
}

.footer p a {
    color: #333;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}